* {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.Items_Container {
  max-width: 960px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* Header */

.Company {
  background-color: black;
  color: white;
}

.Company img {
  display: flex;
  height: 1.5rem;
  padding-right: 1rem;
}

.Company .Items_Container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem .5rem;
}

h1 {
  font-size: 1rem;
}

/* Top Page Content */

.Moto_Image {
  height: 25rem;
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
}

.Content_Box {
  position: relative;
  width: 25rem;
  top: 9rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

.Content_Box h2 {
  margin: .25rem 0;
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width:470px) {
  .Moto_Image {
    height: 15rem;
  }

  .Content_Box {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .Content_Box h1 {
    font-size: .77rem;
  }

  .Content_Box h2 {
    font-size: 1rem;
  }

}

/* Nav Section */

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 0;
}

nav {
  background-color: firebrick;
  color: white;
}

.mobile_nav {
  display: none;
}

@media only screen and (max-width:1024px) {
  nav ul {
    display: none;
  }

  .mobile_nav {
    display: block;
    text-align: center;
  }
}

/* Items Section */

@media only screen and (max-width:1024px) {
  .Product_Glasses {
    display: none;
  }

  .Product_Pen, .Product_Watch {
    width: 47%;
  }
}

@media only screen and (max-width:470px) {

  .Info {
  width: 90%;
}

  .Product_Pen {
    width: 90%;
    margin: auto;
  }

  .Product_Glasses, .Product_Watch {
    display: none;
  }
}

.Items_Section {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
}

.Sub_Items_Section {
  width: 30%;
}

.Item_Image img {
  max-width: 12rem;
}

.Item_Image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.Description {
  display: block;
  padding: .5rem;
  text-align: center;
  background-color: black;
  color: white;
}

/* Location & Hours Section */

.Business_Info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.Info {
  width: 35%;
}

.Info .text {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

.textII {
  color: black;
}

/* Footer */

@media only screen and (max-width:470px) {
  footer {
    align-items: center;
    text-align: center;
  }
}

footer {
  padding: 5rem 0;
  margin-top: 4rem;
  background-color: black;
  color: white;
}
